---
import FormattedDate from "@components/FormattedDate.astro";

interface Props {
  title: string;
  date: Date;
  thumbnail: string;
  tag: string;
}

const { title, date, thumbnail, tag } = Astro.props;
const titleList = title.split("\n");
---

<div>
  <div class="relative w-full lg:w-3/4 m-auto">
    <img
      src={thumbnail}
      alt={title}
      class="rounded-xl w-full aspect-[5/3] object-cover"
    />
    <div
      class="absolute w-full h-full text-lg lg:text-3xl font-semibold inline-flex flex-col"
      style={{
        top: "-20px",
        left: "-20px",
        borderTop: "20px solid white",
        borderLeft: "20px solid white",
        filter: "url('#gooey')",
      }}
    >
      {
        titleList.map((line) => (
          <span class="gooey-text inline w-fit whitespace-pre bg-white pb-1 pr-0.5 lg:pb-3 lg:pr-2">
            {line}
          </span>
        ))
      }
    </div>
    <div
      class="absolute top-0 w-full h-full p-2 lg:p-4 flex flex-col gap-3 justify-end items-end text-sm lg:text-lg"
    >
      <span class="px-3 py-1 rounded-3xl bg-white">
        <FormattedDate date={date} /></span
      >
      <span class="px-3 py-1 rounded-3xl border-neutral-900 border-2">
        # {tag}</span
      >
    </div>
  </div>
  <svg width="0" height="0">
    <defs>
      <filter id="gooey">
        <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur"
        ></feGaussianBlur>
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
          result="alpha"></feColorMatrix>
        <feComposite in="SourceGraphic" in2="alpha" operator="atop"
        ></feComposite>
      </filter>
    </defs>
  </svg>
</div>

<style>
  @keyframes drop {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .gooey-text:last-child {
    animation-delay: 0.5s;
  }

  .gooey-text {
    animation: drop 1s;
    animation-fill-mode: both;
  }
</style>
