---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostHero from "@components/posts/PostHero.astro";
import { customComponents } from "@components/markdown/default/index.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const {
  title,
  description,
  thumbnail = "./og.jpg",
  publishDate,
  categories,
} = post.data;
const { Content } = await render(post);
---

<Layout title={title} description={description} ogImage={thumbnail}>
  <article>
    <PostHero
      title={title}
      thumbnail={thumbnail}
      date={publishDate}
      tag={categories[0]}
    />
    <div class="pt-16 px-12">
      <Content components={customComponents} />
    </div>
  </article>
</Layout>
