---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostCard from "@components/posts/PostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout>
  <section>
    <ul class="grid grid-cols-3 gap-4">
      {
        posts.map((post) => (
          <li class="flex-1  max-h-[320px]">
            <PostCard
              id={post.id}
              title={post.data.title}
              description={post.data.description}
              thumbnail={post.data.thumbnail ?? "./og.jpg"}
              publishDate={post.data.publishDate}
              category={post.data.categories[0]}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
